
body{
	background: #f5f6f7;
}
a,a:hover,a:link,a:visited{
	text-decoration: none;
}
a{
	color: black;
}

.menu li a:hover, .menu li.active a {
	color: #065e86;
	background-color: rgba(0,0,0,0);
}

.plate{
	margin-bottom: 20px;
}
.plate>div>span{
	background: #dfdfdf;
	padding: 10px;
	padding-right: 5px;
	border: 3px solid #f5f6f7;
}
.plate>div>span>a{
	color:#333;
}


.plate>div>span.active{
	background: #1793d1;
	/*border: 2px solid #1793d1;*/
}
.plate>div>span.active>a{
	color:#fff;
}

.media{
	text-align: left;
	background: #fff;
    padding: 10px;
	border: 1px solid #e6e6e6;
}


.media-body{
	word-wrap: break-word;
    word-break: break-all;
}
.media-body>.media-heading{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis; 
	font-size: 17px;
}
.media-body>p{
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
	font-size: 13px;
	color: #8c8c8c;
}

.list-group-item{
	text-align: left;
}